<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Spotify Group Room</title>
        <link rel="stylesheet" href="roomstyle.css">
    </head>
<body>
<h1 class = "title">People in Session</h1>
<p class = "person"> <img class=Spotify_PFP src="Default_pfp.png.png">Person 1</p>           <!--Im not sure if I should make these parapragphs or list items-->
<P class = "person"> <img class=Spotify_PFP src="Default_pfp.png.png">Person 2</P>
<p class = "person"> <img class=Spotify_PFP src="Default_pfp.png.png">Person 3</p>
<p class = "person"> <img class=Spotify_PFP src="Default_pfp.png.png">Person 4</p>
<p>Waiting...</p>

</body>
</html>
